@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  min-width: 850px;
  font-size: 14px;
}

main {
  clear: both;
  font-family:"游明朝体", "Yu Mincho", YuMincho,　“Times New Roman”, “ヒラギノ明朝 ProN W3″, “Hiragino Mincho ProN”, “HG明朝E”, “メイリオ”, Meiryo, serif;
/*  text-align: center;*/
}

.header{
  overflow: hidden;
  width: 100%;
  position: relative;
}

.header_logo img {
  width: 14%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.right_box {
  float: right;
  width: 43%;
  min-width: 300px;
  height: 500px;
  box-shadow:rgba(0, 0, 0, 0.498039) -11px 11px 25px -4px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.498039) -11px 11px 25px -4px;
  -moz-box-shadow:rgba(0, 0, 0, 0.498039) -11px 11px 25px -4px;
  }

.left_box {
  float: left;
  width: 43%;
  min-width: 300px;
  height: 500px;
  margin-top: 106px;
  box-shadow:rgba(0, 0, 0, 0.498039) 11px -11px 25px -4px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.498039) 11px -11px 25px -4px;
  -moz-box-shadow:rgba(0, 0, 0, 0.498039) 11px -11px 25px -4px; 

}

.header_title_en {
  font-family:"游明朝体", "Yu Mincho", YuMincho,　“Times New Roman”, “ヒラギノ明朝 ProN W3″, “Hiragino Mincho ProN”, “HG明朝E”, “メイリオ”, Meiryo, serif;
  font-weight: 100;
  font-size: 29px;
  letter-spacing: 5px;
  padding-top: 233px;
  padding-left: 70px;
}

.header_title_ja {
  width: 1em;
  margin: 0.2em;
  float: right;
  font-family:"游明朝体", "Yu Mincho", YuMincho,　“Times New Roman”, “ヒラギノ明朝 ProN W3″, “Hiragino Mincho ProN”, “HG明朝E”, “メイリオ”, Meiryo, serif;
  font-weight: 100;
  padding-top: 117px;
  padding-right: 80px;
  font-size: 29px;
  text-align: center;
}

.about {
  padding: 20px 0 100px;
  margin-left: 10%;
}

.about_title {
  font-size: 30px;
}

.about_head {
  font-size: 19px;
  font-weight: 600;
}

.about_discript {
  margin-top: 10px;
  margin-bottom: 20px;
}

.about_contact {
  list-style: none;
  font-size: 16px;

}

.about_contact li {
  display: inline;
  margin: 10px;

}

a:link {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: gold;
}
.about_head3 {
  font-size: 15px;
  font-weight: 600;

}

.footer {
  color: #fff;
  padding: 20px 0 20px;
  background-color: #000;
  text-align: center;
}

.footer_logo img {
  width: 80px;
}

.footer_copyright {
  font-weight: 100;
}










