/*css*/
body {
  text-align:  center;
	width: 100%;
  margin: 0 auto;
  font-family: 'Helvetica', 'Arial', 'Meiriyo';
  font-size: 16px;
  }
}



h1.header_heading {
  font-size: 30px;
  font-weight: bold;
}

h1.about_heading {
  font-size: 30px;
  font-weight: bold;

}

.about_SNSs li {
  margin-left: -40px;
  list-style: none;
}